/*start var*/
:root {
  --main-color: #0067ca;
  --transpernt-color: rgb(25 109 166 / 70%);
}
/*end var*/

/* start global rules*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 97px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*end global rules*/
/*start component*/
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #333;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 130px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #333;
  bottom: -36px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: #777;
}
/*end component*/
/*start header*/
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
}
header .container .logo img {
  width: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .logo img:hover {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  animation: nav 1s ease-in-out 1;
  -webkit-animation: nav 2s ease-in-out;
}
@keyframes nav {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

header .container nav .list {
  color: white;
  font-size: 30px;
  display: none;
}

header .container nav .list:hover {
  border-bottom: 1px solid var(--main-color);
}
header .container nav ul {
  display: flex;
}
header .container nav ul a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 3;
}

header .container nav ul a.active,
header .container nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav .form i:hover {
  color: var(--main-color);
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .list {
    display: block;
  }
  header .container nav .list:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
  }
  header .container nav .list:hover + ul li a {
    padding: 20px;
  }
}

/*end header*/

/*start landing */

.landing {
  min-height: 100vh;
  background-image: url(../images/jpg_1469709117.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 /50%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transpernt-color);
  color: white;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  animation: color-animation 2s ease-in-out;
  -webkit-animation: color-animation 2s ease-in-out;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

}
.landing .text:hover{
  background-color: rgb(25 109 166);
}

@keyframes color-animation {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

.landing .text .content {
  max-width: 450px;
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
  transition: 0.3s;
  animation: heading-name 2s ease-in-out 1s infinite alternate-reverse;
  -webkit-animation: heading-name 2s ease-in-out 1s infinite alternate-reverse;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@keyframes heading-name{
0%{
  -webkit-text-fill-color: white;
}
50%{
  -webkit-text-fill-color: red;
}
100%{
  -webkit-text-fill-color: white;
}

}
.landing .text .content p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
}
.landing .fa-angle-left {
  left: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing .fa-angle-left:hover {
  color: var(--main-color);
}
.landing .fa-angle-right {
  right: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.landing .fa-angle-right:hover {
  color: var(--main-color);
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  bottom: 30px;
}
.landing .bullets li {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: white;
  margin-right: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 2px solid var(--main-color);
}
.landing .bullets li:hover {
  background-color: var(--main-color);
}
.landing .bullets li.active {
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    width: 100%;
  }
  .landing .text .content h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .landing .change-background {
    display: none;
  }
}

/*end landing */

/*start services*/
.services {
  padding-top: 100px;
  padding-bottom: 100px;
}
.services .services-container .box {
  display: flex;
  margin-bottom: 30px;
}
.services .services-container .box i {
  margin-right: 50px;
}
.services .services-container .box .text h3 {
  margin-bottom: 10px;
  color: var(--main-color);
}
.services .services-container .box .text p {
  color: #777;
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
@media (max-width: 767px) {
  .services .services-container .box {
    flex-direction: column;
    text-align: center;
    align-content: center;
  }
  .services .services-container .box i {
    margin: 20px auto;
  }
}
/*end services*/
/*start our designs*/
.design {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 600px;
  position: relative;
  background-image: url(../images/creative-thinking-hypnosis.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}
.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 /50%);
}

.design .image,
.design .text {
  z-index: 3;
  position: relative;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  width: 70%;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transpernt-color);
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
/*end our designs*/
/*start porto*/
.portofolio {
  padding-top: 100px;
  padding-bottom: 100px;
}
.portofolio .shuffle {
  display: flex;
  justify-content: center;
}
.portofolio .shuffle li {
  padding: 10px;
}
.portofolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portofolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portofolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portofolio .imgs-container .box:hover .caption {
  bottom: 0%;
}
.portofolio .imgs-container .box:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.portofolio .imgs-container .box img {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portofolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  bottom: -100%;
}
.portofolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portofolio .imgs-container .box .caption p {
  color: var(--main-color);
}
.portofolio .more {
  background-color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
  width: fit-content;
}
@media (max-width: 767px) {
  .portofolio .imgs-container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .portofolio .imgs-container .box {
    flex-basis: 25%;
  }
}

/*end porto*/
/*Start Stats*/
.stats {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/creative-thinking-hypnosis.jpg);
  background-size: cover;
  height: 500px;
}
.stats .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transpernt-color);
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.stats .container .box {
  text-align: center;
}

.stats .container .box i {
  color: black;
  font-size: 40px;
}
.stats .container .box div {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.stats .container .box p {
  color: white;
  font-weight: bold;
}
@media (max-width: 767px) {
  .stats .container {
    display: flex;
    flex-direction: column;
  }
  .stats .container .box {
    margin-top: 10px;
  }
}
/*End Stats*/
/*start skills*/
.our-skills {
  padding-bottom: 100px;
  padding-top: 100px;
}
.our-skills .container .prog-holder {
  margin-bottom: 40px;
}

.our-skills .container .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .container .prog-holder .prog {
  height: 30px;
  background-color: #a2a2a2;
}
.our-skills .container .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}

@keyframes width-span-one {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes width-span-two {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes width-span-three {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes width-span-four {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.our-skills .container .prog-holder .prog:hover span {
  animation-play-state: paused !important;
}
.our-skills .container .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  right: -20px;
  top: -50px;
  background-color: var(--main-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.our-skills .container .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: var(--main-color) transparent transparent transparent;
  right: -7px;
  top: -20px;
}
/*end skills*/

/*start pricing*/
.pricing .container .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  text-align: center;
  grid-gap: 20px;
}
.pricing .container .plans .plan .head {
  position: relative;
  text-align: center;
}
.pricing .container .plans .plan .head {
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.pricing .container .plans .plan .head h3 {
  font-weight: normal;
  font-size: 20px;
}
.pricing .container .plans .plan .head span {
  font-size: 80px;
}
.pricing .container .plans .plan .head span::before {
  content: "$";
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 80px;
}
.pricing .container .plans .plan .head span::after {
  content: "USD";
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 70px;
}
.pricing .container .plans .plan ul {
  padding: 20px;
}
.pricing .container .plans .plan ul li:first-child {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
}

.pricing .container .plans .plan ul li:nth-child(2) {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
}

.pricing .container .plans .plan ul li:nth-child(3) {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
}

.pricing .container .plans .plan ul li:nth-child(4) {
  position: relative;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
}

.pricing .container .plans .plan .foot {
  margin-top: 30px;
}
.pricing .container .plans .plan .foot .buy-now {
  text-decoration: none;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--main-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.pricing .container .plans .plan .foot .buy-now:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .container .text {
  position: relative;
  margin-top: 100px;
  text-align: center;
}
.pricing .container .text h4 {
  margin-bottom: 10px;
}
.pricing .container .text a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 20px;
}
@media (max-width: 767px) {
  .pricing .container .plans .plan {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .pricing .container .plans .plan {
    margin-top: 50px;
  }
}
/*end pricing*/

/*start footer*/
.footer {
  margin-top: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  flex-direction: column;
  text-align: center;
}
.footer .social i {
  margin-top: 10px;
  font-size: 30px;
  color: white;
}
@media (max-width: 767px) {
  .footer h2 {
    font-size: 20px;
  }
}
/*end footer*/
